<!-- home/index page  -->

<!--List of projects - 'Read' CRUD for projects -->
<h1>Projects</h1>
<!--loops through each project saved on database and shows project name, season and category -->
<!--link button 'More' directs to show project Views -->
<% @projects.each do |project| %>
    <div class="well">
        <h3><%= project.name %></h3>
        <p><strong>Seasonal Produce: </strong><%= project.season %></p>
        <p><strong>Category: </strong><%= project.category %></p>
        <%=link_to "More", project_path(project), :class => 'btn btn-default' %>
    </div>
<% end %>